header {
  background-image: url("./images/ncNewsBckgrnd.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.intro-text {
  height: 40vh;
}

.cardText {
  color: black;
  background: white;
}

.topics-row {
  padding-bottom: 5%;
}

.article-card {
  padding: 10px 0;
}
