.homePage-main-div,
.topic-article-page,
.App,
.all-articles,
.comments-page,
.bg-custom {
  background-color: #2d3142;
}

.topic-intro,
.article-sorter,
.nav-text {
  color: #d0cfcf !important;
  font-family: "Nunito", sans-serif;
}

.card-all-text,
header p {
  font-family: "Permanent Marker", cursive;
  color: #e6af2e;
  text-shadow: 0 0 5px #080708, 0 0 10px #080708, 0 0 15px #080708,
    0 0 20px #2d3142, 0 0 30px #2d3142, 0 0 40px #2d3142;
}

.App {
  height: 100vh;
}

.navbar {
  box-shadow: 0 8px 6px -6px black;
}

header {
  background-image: url("./images/ncNewsBckgrnd.png");
  height: 90vh;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 6px -6px black;
  text-align: center;
}

header p {
  padding-top: 35vh;
  margin: auto;
  font-size: 6rem;
}

.brand {
  font-family: "Permanent Marker", cursive;
  color: #d0cfcf !important;
}

.nav-text {
  text-decoration: none !important;
}

.intro-text {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-size: 3rem;
  color: #d0cfcf;
  font-family: "Righteous", cursive;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.topics-row {
  padding-bottom: 5%;
}

.article-card {
  padding: 10px 0;
}

.all-articles {
  padding-top: 5%;
}

.article-sorter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.topic-img {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card-all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.card-title {
  font-size: 3rem !important;
}
